* {
  border: 2px solid red;
}

html {
  box-sizing: border-box;
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  height: 100vh;
  gap: 5%;
}

.interface {
  display: flex;
  flex-direction: column;
  background-color: blue;
  width: 20%;
}

#canvas {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  height: 512px;
  width: 1024px;
  background-color: gray;
}

.canvas-div {
  border: 1px solid black;
}
